.modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  color: $black;
  padding: 1rem 1rem;
  width: 40%;
  border: 1px solid $white;
  border-radius: 0.5rem;

  h5 {
    margin: 0;
    text-align: start;
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

label {
  display: block;
  color: $labelColor;
  font-size: 14px;
  margin: 5px 0px;
}

label[for="locationName"] {
  color: rgb(57, 161, 190);
}

label[required] {
  &:after{
    content:" *";
    color:red;
  }
}

input {
  width: -webkit-fill-available;
  border: none;
  border-bottom: 1px solid $inputBottomBorder;
  outline: 0;
  padding: 5px 2px;
}

.locationName:focus-within {
  label {
    font-weight: bold;
  }
  input {
    border-bottom: 2px solid rgb(76, 97, 113);
  }
}

.addressLine1:focus-within {
  @include highlightInputFiled;
}

.suiteNo:focus-within {
  @include highlightInputFiled;
}
.addressLine2:focus-within {
  @include highlightInputFiled;
}
.city:focus-within {
  @include highlightInputFiled;
}
.state:focus-within {
  @include highlightInputFiled;
}
.zipCode:focus-within {
  @include highlightInputFiled;
}
.phoneNo:focus-within {
  @include highlightInputFiled;
}
.timeZone:focus-within {
  @include highlightInputFiled;
}
.facilityTimes:focus-within {
  @include highlightInputFiled;
}
.appointmentPool:focus-within {
  @include highlightInputFiled;
}

form > div {
  margin: 10px 0px;
}

.addressLine1,
.suiteNo,
.addressLine2,
.city,
.state,
.zipCode,
.phoneNo,
.timeZone,
.facilityTimes,
.appointmentPool {
  display: inline-block;
}

.addressLine1,
.addressLine2,
.facilityTimes {
  width: 45%;
  margin-right: 20px;
}

.suiteNo,
.appointmentPool,
.timeZone {
  width: 51%;
}

.city,
.zipCode,
.phoneNo {
  width: 21%;
  margin-right: 17px;
}

.state {
  width: 27%;
}

.actionBtn {
  float: right;

  button {
    margin: 0px 7px;
    padding: 7px 15px;
    color: $white;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor:pointer;
  }

  button[type="submit"] {
    background-color: $blue;
  }

  .cnclBtn {
    background-color: $cancelBtnColor;
  }
}
