.addDataBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  background-color: #2a5f8d;
  padding: 7px 15px;
  border: 1px solid;
  border-radius: 20px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  }