.locationSection {
  display: flex;
  height: 37rem;
  width: 100%;
  background-color: $noDataLocationbgColor;
  margin-top: 10px;
  img,
  p {
    margin: auto;
  }
}

.loading {
  img,
  p,
  div {
    margin: auto;
  }
}

.editIcon {
  color: #ffb331;
  margin-right: 15px;
  cursor: pointer;
}

.deleteLocation {
  color: #f16e62;
  cursor: pointer;
}
