// Color codes
$white                  : #fff;
$grey                   : #f0f1f3;
$noDataLocationbgColor  : #f7f7f7;
$spinnerColor           : #007bff;
$labelColor             : #989898;
$inputBottomBorder      : #bfbfbf;
$cancelBtnColor         : #fb695c;
$blue                   : #2a5f8d;
$black                  : #000
